body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  #map {
    flex-grow: 1;
    height: 100%;
  }
  
  #filter-box {
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  